electron-app/db.sqlite
electron-app/DB.sqlite

.DS_Store
electron-app/dist/electron/*
electron-app/dist/web/*
electron-app/build/*
!electron-app/build/icons
electron-app/coverage
electron-app/node_modules/
npm-debug.log
npm-debug.log.*
electron-app/thumbs.db
!.gitkeep
analysis-lib/node_modules/
analysis-lib/db/*
analysis-lib/node_modules/
analysis-lib/db/*
analysis-lib/package-lock.json
electron-app/package-lock.json
analysis-lib/yarn.lock
electron-app/yarn.lock
